body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: dodgerblue;
  margin: 20px;
  padding: 20px;
}

button {
  height: 40px;
  border-radius: 10px;
  transition: 0.12s;
}

button:hover {
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
}

.wrapping-div {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid lightgray;
  width: 500px;
  box-shadow: 0 0 5px 8px lightgreen;
  background-color: lightgray;
}


.buttons {
  text-align: center;
}