# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache

.idea

# the actual repo of ania kubov of the memory game
aniaRepo




.phpIntel
.vscode
./vscode
.info
